[init]
	defaultBranch = main
[user]
	email = iamanubhavsaini+git@gmail.com
	name = Anubhav Saini
	signingkey =
[github]
	user = "iamanubhavsaini"
[core]
	excludesFile = /home/anubhav/.gitignore
[color "diff"]
	whitespace = red reverse
[diff]
	wsErrorHighlight = all
[pull]
	rebase = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgsign = true
